.header {
  @apply w-full h-full flex;

  &__container {
    @apply w-1/2 h-full flex items-center;

    &--left {
      @apply md:pl-8;
    }

    &--right {
      @apply pr-4 md:pr-8 justify-end gap-3;
    }
  }

  &__link {
    @apply relative no-underline;

    &::before {
      @apply w-full h-0.5 rounded bg-primary absolute bottom-0 left-0 origin-right;
      content: '';
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    &:hover::before {
      @apply origin-left;
      transform: scaleX(1);
    }
  }

  &__button {
    @apply py-1 px-3 flex justify-center items-center gap-1.5 border border-solid border-primary rounded relative;

    & label {
      @apply hidden lg:block cursor-pointer;
    }

    .icon {
      @apply w-5 h-5 text-neutral-200;
    }

    &::before {
      @apply w-full h-full bg-primary absolute bottom-0 left-0 origin-left opacity-75;
      content: '';
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    &:hover::before {
      @apply origin-right;
      transform: scaleX(1);
    }
  }
}
